{% extends 'layout.twig' %}

{% block body %}
<div>
	<div class="panel">
		<div>
			<button type="button" class="btn btn-sucess" data-toggle="modal" href="#modalAgregarEditor">Agregar Editor</button>
			<button type="button" class="btn btn-danger" data-toggle="modal" href="#modalEliminarEditor">Eliminar Editor</button>
		</div>
	</div>
</div>
<div class="modal" id="modalAgregarEditor" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Agregar Editor</h2>
			</div>
			<form method="POST" action="./editores/nuevoEditor">
				<div class="modal-body">
					{{ csrf_field() }}
					<div class="form-group">
						<label for="mailEditor">Mail del Editor:</label>
						<input type="text" class="form-control" placeholder="Nombre" name="mailEditor">        		
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="modalEliminarEditor" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Eliminar Editor</h2>
			</div>
			<form method="POST" action="./editores/eliminarEditor">
				<div class="modal-body">
					{{ csrf_field() }}
					<div class="form-group">
						<label for="mailEditor">Mail del Editor:</label>
						<input type="text" class="form-control" placeholder="Nombre" name="mailEditor">        		
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
