body {
	background-image: url("../images/Fondos/EstiloGeneral/fondo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

#titulo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.header .btn:hover {
	background-color: grey;
    border-color: white;
    color:black;
    font-weight: bold;
} 

.header button.btn {
	position: relative;
	left: 79%;
	background-color: black;
	color: steelblue;
	border:2px solid white;
	border-radius: 4px;
	font-size: 15px;
	margin-top:10px;
	margin-bottom: 10px;
}

#filtroEquipos {
	position:relative;
	left:40%;
}

#filtroEquipos button {
	background-color: midnightblue;
	color:white;
	border-radius: 4px;
	font-size:20px;
}

ul.nav {
	background-color: midnightblue;
	position: relative;
	bottom: 10%;
	border: none;
	border-radius: 4px;
}

.nav > li > a {
	color:white;
	font-size: 20px;
}

.nav > li > a:hover {
	background-color: steelblue;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

.nav-tabs > li.active > a {
	background-color: steelblue;
	color: white;
	border: none;
	border-radius: 4px;
}
.nav-tabs > li.active > a:hover {
	background-color: steelblue;
	border: none;
	color: white;
}
/* DROPDOWN MENU */
.nav .open > a:hover {
	background-color: midnightblue;
	border:none;
}
.nav .open > a:focus{
	background-color: midnightblue;
	border:none;
}

.dropdown-menu {
	background-color: midnightblue;
	color:white;
	font-size:20px;
}

.dropdown-menu > li > a:hover {
	background-color: steelblue;
	color:white;
	font-size:20px;
}

.dropdown-menu > li > a {
	color:white;
	font-size:15px;
}

#logoFixture, #logoResultados, #logoGoleadores, #logoAmarillas, #logoPosiciones, #logoEditor, #logoVideos {
	margin-top:10px;
	margin-bottom: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel {
	background: none;
}

.panel-info {
	float: left;
	border: none;
	margin-left: 50px;
	margin-bottom: 50px;
}

.fixture {
	height: 400px;
	width: 500px;
}

.resultados {
	height: 250px;
	width: 500px;
}

.panel-info > .panel-heading {
	background-color: midnightblue;
	border: 2px solid black;
	border-radius: 4px 4px 0 0;
	text-align: center;
	color: white;
	font-size: 30px;
}

.panel-info > .panel-body {
	background-color: white;
	text-align: center;
	border: 2px solid black;
	border-radius: 0 0 4px 4px;
	color: black;
	font-size: 15px;
}

/* TABLAS */

.table-bordered {
	border: 2px solid black;
	background-color: midnightblue;
}

table > tbody > tr > th {
	background-color: midnightblue;
	color:white;
	font-size:25px;
	text-align: center;
}

table > tbody > tr > td {
	color:black;
	font-size: 20px;
	background-color: steelblue;
	opacity: 0.9;
}
table > tbody > tr:hover {
	background-color: midnightblue;
}

/* IMAGENES */
img.media-object {
	width: 100px;
	height: 100px;
}

h4 {
	background-color: midnightblue;
	border-radius: 3px;
	max-width: 300px;
	color:white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.media-body > p{
	background-color:rgba(255,255,255,0.5);
	color:black;
	padding-left: 5px;
	max-width: 300px;
	font-size:20px;
}

img.media-object{
	background-color: white;
	border: 5px solid black;
}

.partidoFechaFixture {
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 30px;
}

.dateFechaFixture, .timeFechaFixture, .canchaFechaFixture, .arbitroFechaFixture{
    font-size: 15px;
    margin: 10px;   
    display:inline-block;
}

.icono{
    width: 20px;
    margin:3px;
}

.golesLocalResultado, .golesVisitaResultado {
	color: black;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	border: 5px solid black;
	margin:5px;
}

.equipoResultado {
	font-weight: bold;
	text-align: center;
	color:black;
	font-size: 30px;
	margin: 5px;
}

.star {
  	font-size: 40px;
	color:gold;
	margin: 20px;
}

iframe {
	margin: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#container {
	border: none;
}

#btnSalir, #btnLogin {
	margin: 5px;
	background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.media {
	display: block;
	margin-left: auto;
    margin-right: auto;
	float: left;
	border: none;
}

#btnAgregarPartido {
	margin-top: 10px;
}